body {
    background-color: rgb(44, 44, 44);
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main {
    margin: auto;
    background:repeating-linear-gradient(
        45deg,
        rgb(24, 24, 24) 10% 20%,
        black 20% 22%
    );
    width: 750px;
    height: fit-content;
    margin-top: 150px;
    box-shadow: 4px 4px 10px rgb(66, 66, 66);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}
hr {
    width: 95%;
}
.head {
    text-align: center;
    margin-top: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    font-size: 60px;
    background: linear-gradient(90deg, #e01f1f, #9dec1d);
    background-clip: text;
    color: transparent;
}
.mini {
    margin-top: -40px;
    font-size: 30px;
    background: linear-gradient(90deg, #9dec1d, #e01f1f);
    background-clip: text;
}
p {
    text-indent: 50px;
    letter-spacing: 0.5px;
}
img, video {
    width: 70%;
    border: 1px rgb(82, 82, 82) solid;
    border-image: linear-gradient(90deg, rgb(95, 94, 7), rgb(230, 77, 6)) 1;
    margin-top: 10px;
    transition: transform 0.1s linear;
}
img:hover, video {
    transform: scale(1.02);
}
a {
    margin-top: 30px;
    color: rgb(219, 210, 84);
    cursor: pointer;
    transition: color 0.2s linear;
    font-size: 20px;
    width: fit-content;
}
a:hover {
    color: rgb(0, 174, 255);
}