body {
    background-color: rgb(43, 43, 43);
    color: white;
    font-family: sans-serif;
}
.main {
    width: 90%;
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
    padding: 50px;
    border: 1px solid black;
    margin: auto;
}
.box {
    width: 400px;
    height: 250px;
    background-color: rgba(27, 27, 27, 0.205);
    border: 1px solid rgba(0, 0, 0, 0.39);
    box-shadow: 3px 3px 10px -1px black;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: transform 0.1s linear;
}
.box:hover {
    transform: scale(1.03);
}
button {
    padding: 10px;
    background: linear-gradient(
        45deg,
        rgb(66, 2, 66),
        rgb(50, 38, 102),
        rgb(73, 2, 73)
    );
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.1s linear;
}
button:hover {
    transform: scale(1.03);
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
#shop {
    width: 90%;
    height: fit-content;
    border: 1px solid white;
    margin: auto;
    display: flex;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px;
    gap: 20px;
}
.item {
    width: 200px;
    height: 300px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    justify-content: space-between;
}