body {
    background: linear-gradient(
        135deg,
        rgb(0, 0, 0),
        rgb(62, 66, 100)
    );
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
    line-height: 1.5;
}
nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 69, 116);
    width: fit-content;
    box-sizing: border-box;
    padding: 20px;
    position: fixed;
    height: 100%;
}
nav h2 {
    color: rgb(116, 174, 212);
}
nav a {
    width: 100%;
    border-top: 1px solid rgb(64, 96, 138);
    padding: 23px 20px;
    margin-left: -20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    transition: background 0.2s linear;
}
nav a:hover {
    background: rgb(29, 62, 104);
}
nav a i {
    transition: transform 0.2s linear;
}
nav a:hover i {
    transform: translateX(10px);
}
nav span {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 4px;
    font-size: 34px;
}
.main-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    box-sizing: border-box;
    padding: 150px;
    margin-bottom: 200px;
}
.main-head {
    text-shadow: 0 0 80px white;
    font-size: 35px;
}
.main-text {
    width: 60%;
}
.main-text h1 {
    color: rgb(116, 174, 212);
}
.main-text h3 {
    color: rgb(116, 136, 165);
    letter-spacing: 1.2px;
}
.main-text p {
    color: rgb(116, 136, 165);
    font-family:monospace;
    font-size: 18px;
}
.logo {
    width: 30%;
    border-radius: 20px;
    margin-bottom: 250px;
}
.abt-us {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding-left: 200px;
    flex-direction: column;
}
hr {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.features {
    width: 50%;
    border: 1px solid white;
    height: fit-content;
    padding: 20px;
}
.features li {
    margin-top: 20px;
}
.start-btn {
    width: fit-content;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(34, 69, 116);
    color: white;
    background-color: rgba(34, 70, 116, 0.555);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    transition: transform 0.1s linear;
    cursor: pointer;
}
.start-btn:hover {
    transform: scale(1.03);
}
.start-btn i, .view-btn i {
    transition: transform 0.1s linear;
    margin-left: 10px;
}
.start-btn:hover i, .view-btn:hover i {
    transform: translateX(5px);
}
.program-list {
    width: 100%;
    display: flex;
    padding: 150px;
    padding-left: 300px;
    box-sizing: border-box;
    height: 1000px;
    display: flex;
    overflow-y: scroll;
    flex-wrap: wrap;
    gap: 40px;
    min-height: 1000px;
}
.program {
    width: 225px;
    height: 376px;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.116);
    border: 1px solid rgb(67, 74, 109);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    box-shadow: 3px 3px 10px -1px black;
    transition: transform 0.1s linear;
    min-height: 350px;
    min-width: 225px;
}
#search {
    width: 50%;
    height: 30px;
    border-radius: 4px;
    border: 1px solid black;
    padding: 0 5px;
}
.center {
    width: 100%;
    display: flex;
    justify-content: center;
}
.program img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid black;
    min-height: 150px;
    margin-top: -20px;
    box-shadow: 3px 3px 10px -2px black;
    object-fit: cover;
}
.view-btn {
    padding:10px;
    border: 1px solid rgb(34, 69, 116);
    color: white;
    background-color: rgba(34, 70, 116, 0.555);
    border-radius: 5px;
    transition: transform 0.15s linear;
}
.view-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.desc {
    font-size: 12px;
    text-align: center;
}
.program:hover {
    transform: scale(1.03);
}
.footer {
    background-color: rgb(34, 69, 116);
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    gap: 20px;
    box-sizing: border-box;
    padding: 100px;
}
.footer div {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
}
.footer div span {
    font-weight: bold;
}
.footer div a {
    color: white;
    text-decoration: none;
    transition: background 0.1s linear;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}
.footer div a:hover {
    background: rgb(50, 77, 153);
}
@media (max-width: 955px) {
    #search, .program-list {
        transform: scale(0.7);
        width: 110%;
    }
    p, li {
        font-size: 10px !important;
    }
    h1, h2, h3, h4 {
        font-size: 20px !important;
    }
    .main-div h3 {
        font-size: 14px !important;
    }
    .main-div {
        width: 100%;
        padding: 0;
        text-align: center;
        justify-content: center;
    }
    .abt-us {
        padding: 0;
    }
}
@media (max-width: 400px) {
    body {
        overflow-x: hidden;
    }
        p, li {
        font-size: 8px !important;
    }
    h1, h2, h3, h4 {
        font-size: 14px !important;
    }
    .main-div h3 {
        font-size: 10px !important;
    }
    .footer a, .footer span{
        font-size: 10px;
    }
}
@media (max-width: 1040px) {
    nav {
        display: none;
    }
    .mobile {
        display: block !important;
    }
}
.mobile {
    width: 100%;
    height: fit-content;
    background-color: rgb(32, 32, 32);
    padding: 3px 20px 3px 5px;
    box-sizing: border-box;
    display: none;
}
.menu-opener {
    cursor: pointer;
    width: fit-content;
}
.menu {
    width: 0;
    height: fit-content;
    opacity: 0;
    flex-direction: column;
    position: absolute;
    background-color: rgb(43, 43, 43);
    left: 0;
    transition: width 0.1s linear;
}
.menu-opener:hover .menu a {
    display: flex !important;
}
.menu:hover a {
    display: flex !important;
}
.mobile .menu-opener:hover .menu {
    opacity: 1;
    width: 250px;
}
.menu:hover {
    display: flex !important;
}
.menu a {
    padding: 10px;
    display: none;
    align-items: center;
    border-top: 1px solid rgb(61, 61, 61);
    justify-content: space-between;
}
.menu a:hover {
    background-color: rgb(27, 27, 27);
    cursor: pointer;
}
.menu a i {
    transition: transform 0.2s linear;
}
.menu a:hover i {
    transform: translateX(10px);
}
.flash::after {
    content: "! FLASHING LIGHTS !";
    color: red;
    position: relative;
    top: -360px;
    left: 60px;
    font-size: 12px;
    margin-top: -20px;
}
.bright::after {
    content: "Bright Lights!";
    color: orange;
    position: relative;
    top: -360px;
    left: 90px;
    font-size: 12px;
    margin-top: -20px;  
}
.bColor::after {
    content: "Bright Colors";
    color: rgb(255, 217, 0);
    position: relative;
    top: -360px;
    left: 90px;
    font-size: 12px;
    margin-top: -20px; 
}
.typeOne::after {
    content: "Random Program";
    color: rgb(0, 102, 255);
    position: relative;
    top: -360px;
    left: 70px;
    font-size: 12px;
    margin-top: -20px; 
}
.typeTwo::after {
    content: "Mini Game";
    color: rgb(0, 102, 255);
    position: relative;
    top: -360px;
    left: 90px;
    font-size: 12px;
    margin-top: -20px;  
}
.typeThree::after {
    content: "Tool";
    color: rgb(0, 102, 255);
    position: relative;
    top: -360px;
    left: 90px;
    font-size: 12px;
    margin-top: -20px;  
}